In [89]:
# Import dependencies
import pandas as pd
from pathlib import Path
import re
import numpy as np

# Import Data

In [90]:
# Base datasets
squirrel_2020 = Path("resources/raw/squirrel_data_2020.csv")
squirrel_2018 = Path("resources/raw/squirrel_data_2018.csv")

# Additional dataset from 2020
parks_2020 = Path("resources/raw/park_data_2020.csv")

# 2020 Dataset - Squirrels

In [91]:
# Create dataframe from CSV
s2020_df = pd.read_csv(squirrel_2020, encoding="unicode_escape")

# Display DataFrame and its shape
print(f"2020 Squirrel Dataset: {s2020_df.shape}")
s2020_df.head()

2020 Squirrel Dataset: (433, 16)

,Area Name,Area ID,Park Name,Park ID,Squirrel ID,Primary Fur Color,Highlights in Fur Color,Color Notes,Location,Above Ground (Height in Feet),Specific Location,Activities,Interactions with Humans,Other Notes or Observations,Squirrel Latitude (DD.DDDDDD),Squirrel Longitude (-DD.DDDDDD)
0,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-01,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,NaN,40.859410,-73.933936
1,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-02,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-03,Gray,White,NaN,Ground Plane,NaN,NaN,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-04,Gray,White,NaN,Ground Plane,NaN,NaN,Running,Indifferent,NaN,40.859418,-73.933895
4,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,NaN,Ground Plane,NaN,NaN,"Running, Eating",Indifferent,She left food,40.859493,-73.933590

In [4]:
# Drop null values for minimum requirement columns
dropna_columns = [
    "Primary Fur Color",
    "Highlights in Fur Color",
    "Activities",
    "Interactions with Humans",
    "Squirrel Latitude (DD.DDDDDD)",
    "Squirrel Longitude (-DD.DDDDDD)"
]

s2020_nonull = s2020_df.dropna(subset=dropna_columns, how="any")

# Display DataFrame and its shape
print(f"{s2020_nonull.shape}")
s2020_nonull.head()

(192, 16)

,Area Name,Area ID,Park Name,Park ID,Squirrel ID,Primary Fur Color,Highlights in Fur Color,Color Notes,Location,Above Ground (Height in Feet),Specific Location,Activities,Interactions with Humans,Other Notes or Observations,Squirrel Latitude (DD.DDDDDD),Squirrel Longitude (-DD.DDDDDD)
0,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-01,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,NaN,40.859410,-73.933936
1,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-02,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-03,Gray,White,NaN,Ground Plane,NaN,NaN,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-04,Gray,White,NaN,Ground Plane,NaN,NaN,Running,Indifferent,NaN,40.859418,-73.933895
4,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,NaN,Ground Plane,NaN,NaN,"Running, Eating",Indifferent,She left food,40.859493,-73.933590

## Columns Cleaning
- Remove columns (2020):
    - 'Area Name', irrelevant.
    - 'Area ID, irrelevant.
    - 'Color Notes', irrelevant and too few data points.
    - 'Location', irrelevant and would take too much resources to clean the data. ***
    - 'Above Ground (...)', irrelevant and would take too much resources to clean the data. ***
    - 'Specific Location', irrelevant and would take too much resources to clean the data.
- Remove columns (2018):
    - 'Hectare', inconsistent with 2020 dataset.
    - 'Shift', inconsistent with 2020 dataset.
    - 'Hectare Squirrel Number', inconsistent with 2020 dataset.
    - 'Age', inconsistent with 2020 dataset.
    - 'Date', inconsistent with 2020 dataset, right??? We know 2018 data was collected in October [Autumn] and 2020 data was collected in March [Spring]
    - 'Combination of Primary and Highlight Color', inconsistent with 2020 dataset.
    - 'Color notes', inconsistent with 2020 dataset.
    - 'Location', irrelevant and would take too much resources to clean the data. ***
    - 'Above Ground Sighter Measurement', irrelevant and would take too much resources to clean the data. ***
    - 'Specific Location', inconsistent with 2020 dataset.
    - 'Lat/Long', delete due to double up.
##### 2020  /  2018 Column Names (in order... can be changed):
    - park_name                 /  - park_name [Central Park only - can create new column to match 2020 dataset column]
    - park_ID                   /  - park_ID [DOESN'T EXIST IN 2018 DATASET - or maybe we keep this as an ID might be easier to map?]
    - squirrel_ID               /  - 'Unique Squirrel ID' (change to squirrel_ID)
    - primary_fur_color         /  - primary_fur_color
    - highlights_in_fur_color   /  - 'Highlight Fur Color' (change to highlights_in_fur_color)
    - foraging
    - climbing
    - eating
    - running
    - chasing
    - shouting                  /  - 'Kuks' + 'Quaas' + 'Moans' (change to shouting)
    - sitting
    - digging
    - other_activities          /  - 'Other Activities' + 'Tail flags' + 'Tail twitches' (changed to other_activities)
    - interactions_with_humans  /  - 'Approaches' + 'Indifferent' + 'Runs from' + 'Other Interactions' (changed to interactions_with_humans) [MAYBE 'OTHER SPECIES'?]
    - other_observations        /  - other_observations [DOESN'T EXIST IN 2018 DATASET]
    - squirrel_latitude         /  - 'Y' (change to squirrel_latitude)
    - squirrel_longitude        /  - 'X' (change to squirrel_longitude)

- Rename columns: use underscores, all lower case.

In [5]:
# Drop columns
drop_columns = ['Area Name', 'Area ID', "Color Notes", "Location", "Above Ground (Height in Feet)", "Specific Location"]

reduced_2020 = s2020_nonull.drop(columns=drop_columns)
reduced_2020.head()

,Park Name,Park ID,Squirrel ID,Primary Fur Color,Highlights in Fur Color,Activities,Interactions with Humans,Other Notes or Observations,Squirrel Latitude (DD.DDDDDD),Squirrel Longitude (-DD.DDDDDD)
0,Fort Tryon Park,1,A-01-01,Gray,White,Foraging,Indifferent,NaN,40.859410,-73.933936
1,Fort Tryon Park,1,A-01-02,Gray,White,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,Fort Tryon Park,1,A-01-03,Gray,White,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,Fort Tryon Park,1,A-01-04,Gray,White,Running,Indifferent,NaN,40.859418,-73.933895
4,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,"Running, Eating",Indifferent,She left food,40.859493,-73.933590

In [6]:
# Rename the columns
cols_df = pd.DataFrame(reduced_2020.columns, columns=["name"])

# Define the regex pattern
pattern = '\((.*?)\)' # \( and \) to escape brackets, *.? matches any character (non-newline) zero or more times

new_columns = []
for row in cols_df["name"]:
    stripped_row = re.findall(pattern, row)

    # Remove the brackets and content
    if len(stripped_row) > 0:
        remove_substring = f' ({stripped_row[0].strip("[]")})'
        row = row.strip(remove_substring)

    # Use underscore and cast to lowercase
    new_columns.append(row.replace(" ", "_").lower())

# Update the columns
reduced_2020.columns = new_columns

reduced_2020.head()

,park_name,park_id,squirrel_id,primary_fur_color,highlights_in_fur_color,activities,interactions_with_humans,other_notes_or_observations,squirrel_latitude,squirrel_longitude
0,Fort Tryon Park,1,A-01-01,Gray,White,Foraging,Indifferent,NaN,40.859410,-73.933936
1,Fort Tryon Park,1,A-01-02,Gray,White,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,Fort Tryon Park,1,A-01-03,Gray,White,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,Fort Tryon Park,1,A-01-04,Gray,White,Running,Indifferent,NaN,40.859418,-73.933895
4,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,"Running, Eating",Indifferent,She left food,40.859493,-73.933590

In [7]:
reduced_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 432
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   park_name                    192 non-null    object
 1   park_id                      192 non-null    int64
 2   squirrel_id                  192 non-null    object
 3   primary_fur_color            192 non-null    object
 4   highlights_in_fur_color      192 non-null    object
 5   activities                   192 non-null    object
 6   interactions_with_humans     192 non-null    object
 7   other_notes_or_observations  96 non-null     object
 8   squirrel_latitude            192 non-null    float64
 9   squirrel_longitude           192 non-null    float64
dtypes: float64(2), int64(1), object(7)
memory usage: 16.5+ KB

## Clean 'activities' column

In [8]:
# Create a DataFrame of the 'activities' column for cleaning
activities_df = reduced_2020[['squirrel_id', 'activities']].copy()
activities_df.head()

  squirrel_id                 activities
0     A-01-01                   Foraging
1     A-01-02                   Foraging
2     A-01-03  Eating, Digging something
3     A-01-04                    Running
4     A-01-05            Running, Eating

In [9]:
row_list = []
for row in activities_df['activities']:
    row_list.append(row.split(", "))

activities_df['activity_list'] = row_list
activities_df.head()

  squirrel_id                 activities                activity_list
0     A-01-01                   Foraging                   [Foraging]
1     A-01-02                   Foraging                   [Foraging]
2     A-01-03  Eating, Digging something  [Eating, Digging something]
3     A-01-04                    Running                    [Running]
4     A-01-05            Running, Eating            [Running, Eating]

In [10]:
idx_list = []
for idx, row in enumerate(activities_df['activity_list']):
    for word in row:
        if (word.startswith("Eating ")):
            print(idx, word)
            idx_list.append(idx)

129 Eating (or pretending to eat)
139 Eating (nuts)
178 Eating (bread crumbs)

In [11]:
activities_df.iloc[idx_list]

,squirrel_id,activities,activity_list
330,C-18-01,"Running, Eating (or pretending to eat)","[Running, Eating (or pretending to eat)]"
344,C-19-14,"Eating (nuts), Foraging","[Eating (nuts), Foraging]"
415,D-22-27,"Eating (bread crumbs), Foraging","[Eating (bread crumbs), Foraging]"

In [12]:
### CAN WE JUST DO THIS WITH THE reduced_2020 DATAFRAME TO AVOID HAVING TO MERGE? OR IS IT SAFER TO MAKE A COPY?
### I think it's easier to just make all the changes, because we'll create the boolean columns after this and merge it back?

# Combine 'child' activities that match 'parent' activities
# pattern = 'Eating \((.*?)\)'
# sitting = ["Hanging out", "Hanging", "Chilling", "Sitting in short tree", "Sticking out of a tree", "Very carefully watching a cat", "Watching #2", "Posing"]
# shouting = ["Vocalization at us", "Defending tree"]
# other_activities = ["Self-cleaning", "Sleeping", "Sleeping (Dead?)", "battery"]

pattern = 'eating \((.*?)\)'
sitting = ["hanging out", "hanging", "chilling", "sitting in short tree", "sticking out of a tree", "very carefully watching a cat", "watching #2", "posing"]
shouting = ["vocalization at us", "defending tree"]
other_activities = ["self-cleaning", "sleeping", "sleeping (dead?)", "battery"]

for row in activities_df['activity_list']:
    for idx, word in enumerate(row):
        row[idx] = word.lower()
        word = word.lower()

        # Check for "eating (...)"
        bracket = re.findall(pattern, word)
        if (len(bracket) > 0):
            row[idx] = "eating"

        # Check for "digging "
        if (word.startswith("digging ") or word == "burying"):
            row[idx] = "digging"

        if (word in shouting):
            row[idx] = "shouting"

        if (word == "nesting/gathering leaves"):
            row[idx] = "foraging"

        if (word in sitting):
            row[idx] = "sitting"

        if (word == "jumping"):
            row[idx] = "climbing"
        
        if (word in other_activities):
            row[idx] = "other_activities"

In [13]:
# Check the 'activities' distribution
flat_list = [value for row in activities_df['activity_list'] for value in row]
flat_df = pd.DataFrame(flat_list)
flat_df.value_counts()

foraging            72
climbing            52
eating              48
running             37
chasing             20
shouting            17
sitting             14
digging              5
other_activities     4
dtype: int64

In [14]:
### Create the boolean activity columns

# Create a list of the reduced activity names
column_names = list(set([word.lower() for word in flat_list]))

# Create new columns for each activity
for col_name in column_names:
    activities_df[col_name] = pd.Series(dtype=bool)

# Loop through the 'activity_list' and populate the boolean columns
for idx, row in activities_df.iterrows():
    for word in row['activity_list']:
        for activity in column_names:
            if (row[activity] == True):
                continue
            elif (word == activity):
                row[activity] = True
            else:
                row[activity] = False

# Display the DataFrame
activities_df.head()

,squirrel_id,activities,activity_list,shouting,chasing,eating,climbing,sitting,other_activities,running,digging,foraging
0,A-01-01,Foraging,[foraging],False,False,False,False,False,False,False,False,True
1,A-01-02,Foraging,[foraging],False,False,False,False,False,False,False,False,True
2,A-01-03,"Eating, Digging something","[eating, digging]",False,False,True,False,False,False,False,True,False
3,A-01-04,Running,[running],False,False,False,False,False,False,True,False,False
4,A-01-05,"Running, Eating","[running, eating]",False,False,True,False,False,False,True,False,False

In [15]:
# Drop the 'activities' and 'activity_list' columns
activities_df = activities_df.drop(columns=['activities', 'activity_list'])
activities_df.head()

,squirrel_id,shouting,chasing,eating,climbing,sitting,other_activities,running,digging,foraging
0,A-01-01,False,False,False,False,False,False,False,False,True
1,A-01-02,False,False,False,False,False,False,False,False,True
2,A-01-03,False,False,True,False,False,False,False,True,False
3,A-01-04,False,False,False,False,False,False,True,False,False
4,A-01-05,False,False,True,False,False,False,True,False,False

In [16]:
# Merge with reduced_2020
s2020_updated = pd.merge(reduced_2020, activities_df, on="squirrel_id", how="inner")
s2020_updated.head()

,park_name,park_id,squirrel_id,primary_fur_color,highlights_in_fur_color,activities,interactions_with_humans,other_notes_or_observations,squirrel_latitude,squirrel_longitude,shouting,chasing,eating,climbing,sitting,other_activities,running,digging,foraging
0,Fort Tryon Park,1,A-01-01,Gray,White,Foraging,Indifferent,NaN,40.859410,-73.933936,False,False,False,False,False,False,False,False,True
1,Fort Tryon Park,1,A-01-02,Gray,White,Foraging,Indifferent,Looks skinny,40.859436,-73.933937,False,False,False,False,False,False,False,False,True
2,Fort Tryon Park,1,A-01-03,Gray,White,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894,False,False,True,False,False,False,False,True,False
3,Fort Tryon Park,1,A-01-04,Gray,White,Running,Indifferent,NaN,40.859418,-73.933895,False,False,False,False,False,False,True,False,False
4,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,"Running, Eating",Indifferent,She left food,40.859493,-73.933590,False,False,True,False,False,False,True,False,False

In [17]:
# Drop the 'activities' column
s2020_updated = s2020_updated.drop(columns=['activities'])
s2020_updated.head()

,park_name,park_id,squirrel_id,primary_fur_color,highlights_in_fur_color,interactions_with_humans,other_notes_or_observations,squirrel_latitude,squirrel_longitude,shouting,chasing,eating,climbing,sitting,other_activities,running,digging,foraging
0,Fort Tryon Park,1,A-01-01,Gray,White,Indifferent,NaN,40.859410,-73.933936,False,False,False,False,False,False,False,False,True
1,Fort Tryon Park,1,A-01-02,Gray,White,Indifferent,Looks skinny,40.859436,-73.933937,False,False,False,False,False,False,False,False,True
2,Fort Tryon Park,1,A-01-03,Gray,White,Indifferent,NaN,40.859416,-73.933894,False,False,True,False,False,False,False,True,False
3,Fort Tryon Park,1,A-01-04,Gray,White,Indifferent,NaN,40.859418,-73.933895,False,False,False,False,False,False,True,False,False
4,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,Indifferent,She left food,40.859493,-73.933590,False,False,True,False,False,False,True,False,False

## Clean 'interactions_with_humans' column

In [18]:
# Create a DataFrame of the 'activities' column for cleaning
interactions_df = s2020_updated[['squirrel_id', 'interactions_with_humans']].copy()
interactions_df.head()

  squirrel_id interactions_with_humans
0     A-01-01              Indifferent
1     A-01-02              Indifferent
2     A-01-03              Indifferent
3     A-01-04              Indifferent
4     A-01-05              Indifferent

In [19]:
# Identify all the different interactions
print(interactions_df['interactions_with_humans'].value_counts())

# NOTE: 2018 equivalents = 'Approaches' + 'Indifferent' + 'Runs from' + 'Other Interactions'

Indifferent                                      127
Runs From                                         28
Approaches                                        20
Indifferent, Preoccupied by HAAWK                  6
Watches us from tree                               1
Runs From, watchful                                1
Watching us from tree - very interested in us      1
Approaches, watching us                            1
Runs From, watches us in short tree                1
Friendly                                           1
Indifferent, Runs From                             1
Approaches, Runs From                              1
Watching                                           1
Staring                                            1
Skittish to humans                                 1
Name: interactions_with_humans, dtype: int64

In [20]:
# Combine 'child' activities that match 'parent' activities
interact_options = ["approaches", "indifferent", "runs from"]

for idx, row in enumerate(interactions_df['interactions_with_humans']):
    # Convert to lowercase
    row = row.lower()
    
    # Account for rows with multiple interaction types
    multi_option = row.split(", ")
    if len(multi_option) > 1:
        count = 0
        for word in multi_option:
            # Increment if in interact_options
            if (word in interact_options):
                count += 1
            else:
                # Capture: "Indifferent, (not in interact_options)"
                if (row.startswith("indifferent, ")):
                    interactions_df.loc[idx, 'interactions_with_humans'] = ["indifferent"]

                # Captures the rows with "Watch%"
                else:
                    interactions_df.loc[idx, 'interactions_with_humans'] = [(multi_option[0]), "watching"]

            # All options are in interact_options
            if (count == len(multi_option)):
                interactions_df.loc[idx, 'interactions_with_humans'] = multi_option # [word.replace(" ", "_") for word in multi_option]

    # Account for rows with a single interaction
    else:
        # If applicable, filter child to parent
        if (row.startswith("watch") or row == "staring"):
            interactions_df.loc[idx, 'interactions_with_humans'] = ["watching"]
        if (row == "skittish to humans"):
            interactions_df.loc[idx, 'interactions_with_humans'] = ["runs from"]
        if (row == "friendly"):
            interactions_df.loc[idx, 'interactions_with_humans'] = ["approaches"]
        if (row in interact_options):
            # Convert the row to a list, for simplicity later
            interactions_df.loc[idx, 'interactions_with_humans'] = [row] #[row.replace(" ", "_")]

In [21]:
# Check the updated distribution
print(interactions_df['interactions_with_humans'].value_counts())

[indifferent]               133
[runs from]                  29
[approaches]                 21
[watching]                    4
[runs from, watching]         2
[approaches, watching]        1
[indifferent, runs from]      1
[approaches, runs from]       1
Name: interactions_with_humans, dtype: int64

In [22]:
### Create the boolean interaction columns
unique_interactions = list(set([value for row in interactions_df['interactions_with_humans'] for value in row]))

# Create new columns for each interaction
for col_name in unique_interactions:
    interactions_df[col_name] = pd.Series(dtype=bool)

# Loop through the 'activity_list' and populate the boolean columns
for idx, row in interactions_df.iterrows():
    for word in row['interactions_with_humans']:
        for interaction in unique_interactions:
            if (row[interaction] == True):
                continue
            elif (word == interaction):
                row[interaction] = True
            else:
                row[interaction] = False

# Display the DataFrame
interactions_df.head()

,squirrel_id,interactions_with_humans,runs from,indifferent,approaches,watching
0,A-01-01,[indifferent],False,True,False,False
1,A-01-02,[indifferent],False,True,False,False
2,A-01-03,[indifferent],False,True,False,False
3,A-01-04,[indifferent],False,True,False,False
4,A-01-05,[indifferent],False,True,False,False

In [23]:
# Drop the 'interactions_with_humans' column
interactions_df = interactions_df.drop(columns=['interactions_with_humans'])
interactions_df.head()

  squirrel_id runs from indifferent approaches watching
0     A-01-01     False        True      False    False
1     A-01-02     False        True      False    False
2     A-01-03     False        True      False    False
3     A-01-04     False        True      False    False
4     A-01-05     False        True      False    False

In [24]:
# Merge with s2020_updated
s2020_booleans = pd.merge(s2020_updated, interactions_df, on="squirrel_id", how="inner")
s2020_booleans.head()

,park_name,park_id,squirrel_id,primary_fur_color,highlights_in_fur_color,interactions_with_humans,other_notes_or_observations,squirrel_latitude,squirrel_longitude,shouting,...,climbing,sitting,other_activities,running,digging,foraging,runs from,indifferent,approaches,watching
0,Fort Tryon Park,1,A-01-01,Gray,White,Indifferent,NaN,40.859410,-73.933936,False,...,False,False,False,False,False,True,False,True,False,False
1,Fort Tryon Park,1,A-01-02,Gray,White,Indifferent,Looks skinny,40.859436,-73.933937,False,...,False,False,False,False,False,True,False,True,False,False
2,Fort Tryon Park,1,A-01-03,Gray,White,Indifferent,NaN,40.859416,-73.933894,False,...,False,False,False,False,True,False,False,True,False,False
3,Fort Tryon Park,1,A-01-04,Gray,White,Indifferent,NaN,40.859418,-73.933895,False,...,False,False,False,True,False,False,False,True,False,False
4,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,Indifferent,She left food,40.859493,-73.933590,False,...,False,False,False,True,False,False,False,True,False,False

In [25]:
# Drop the 'interactions_with_humans' column
s2020_booleans = s2020_booleans.drop(columns=['interactions_with_humans'])
s2020_booleans.head()

,park_name,park_id,squirrel_id,primary_fur_color,highlights_in_fur_color,other_notes_or_observations,squirrel_latitude,squirrel_longitude,shouting,chasing,...,climbing,sitting,other_activities,running,digging,foraging,runs from,indifferent,approaches,watching
0,Fort Tryon Park,1,A-01-01,Gray,White,NaN,40.859410,-73.933936,False,False,...,False,False,False,False,False,True,False,True,False,False
1,Fort Tryon Park,1,A-01-02,Gray,White,Looks skinny,40.859436,-73.933937,False,False,...,False,False,False,False,False,True,False,True,False,False
2,Fort Tryon Park,1,A-01-03,Gray,White,NaN,40.859416,-73.933894,False,False,...,False,False,False,False,True,False,False,True,False,False
3,Fort Tryon Park,1,A-01-04,Gray,White,NaN,40.859418,-73.933895,False,False,...,False,False,False,True,False,False,False,True,False,False
4,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,She left food,40.859493,-73.933590,False,False,...,False,False,False,True,False,False,False,True,False,False

## Confirm Data Types

In [26]:
# Confirm boolean columns are of "bool" type
s2020_booleans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 191
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   park_name                    192 non-null    object
 1   park_id                      192 non-null    int64
 2   squirrel_id                  192 non-null    object
 3   primary_fur_color            192 non-null    object
 4   highlights_in_fur_color      192 non-null    object
 5   other_notes_or_observations  96 non-null     object
 6   squirrel_latitude            192 non-null    float64
 7   squirrel_longitude           192 non-null    float64
 8   shouting                     192 non-null    object
 9   chasing                      192 non-null    object
 10  eating                       192 non-null    object
 11  climbing                     192 non-null    object
 12  sitting                      192 non-null    object
 13  other_activities             192 non-null    object
 14  running                      192 non-null    object
 15  digging                      192 non-null    object
 16  foraging                     192 non-null    object
 17  runs from                    192 non-null    object
 18  indifferent                  192 non-null    object
 19  approaches                   192 non-null    object
 20  watching                     192 non-null    object
dtypes: float64(2), int64(1), object(18)
memory usage: 33.0+ KB

In [27]:
# Convert boolean columns to "bool" type
bool_columns = s2020_booleans.columns[8:]
s2020_booleans[bool_columns] = s2020_booleans[bool_columns].astype(bool)

In [28]:
s2020_booleans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 191
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   park_name                    192 non-null    object
 1   park_id                      192 non-null    int64
 2   squirrel_id                  192 non-null    object
 3   primary_fur_color            192 non-null    object
 4   highlights_in_fur_color      192 non-null    object
 5   other_notes_or_observations  96 non-null     object
 6   squirrel_latitude            192 non-null    float64
 7   squirrel_longitude           192 non-null    float64
 8   shouting                     192 non-null    bool
 9   chasing                      192 non-null    bool
 10  eating                       192 non-null    bool
 11  climbing                     192 non-null    bool
 12  sitting                      192 non-null    bool
 13  other_activities             192 non-null    bool
 14  running                      192 non-null    bool
 15  digging                      192 non-null    bool
 16  foraging                     192 non-null    bool
 17  runs from                    192 non-null    bool
 18  indifferent                  192 non-null    bool
 19  approaches                   192 non-null    bool
 20  watching                     192 non-null    bool
dtypes: bool(13), float64(2), int64(1), object(5)
memory usage: 15.9+ KB

# 2018 Dataset - Squirrels

In [29]:
# Create dataframe from CSV
s2018_df = pd.read_csv(squirrel_2018)

# Display DataFrame and its shape
print(f"2018 Dataset: {s2018_df.shape}")
s2018_df.head()

2018 Dataset: (3023, 31)

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)

In [30]:
# Identify the non-null count and data types
s2018_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 31 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Color notes                                 182 non-null    object
 12  Location                                    2959 non-null   object
 13  Above Ground Sighter Measurement            2909 non-null   object
 14  Specific Location                           476 non-null    object
 15  Running                                     3023 non-null   bool
 16  Chasing                                     3023 non-null   bool
 17  Climbing                                    3023 non-null   bool
 18  Eating                                      3023 non-null   bool
 19  Foraging                                    3023 non-null   bool
 20  Other Activities                            437 non-null    object
 21  Kuks                                        3023 non-null   bool
 22  Quaas                                       3023 non-null   bool
 23  Moans                                       3023 non-null   bool
 24  Tail flags                                  3023 non-null   bool
 25  Tail twitches                               3023 non-null   bool
 26  Approaches                                  3023 non-null   bool
 27  Indifferent                                 3023 non-null   bool
 28  Runs from                                   3023 non-null   bool
 29  Other Interactions                          240 non-null    object
 30  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(14)
memory usage: 463.6+ KB

In [31]:
# 2018 Dataset

# Drop null values for minimum requirement columns
s2018_nonull = s2018_df.dropna(
    subset=[
        "Primary Fur Color",
        "Highlight Fur Color",
        "Running",
        "Chasing",
        "Climbing",
        "Eating",
        "Foraging",
        "Approaches",
        "Indifferent",
        "Runs from",
        "X",
        "Y"],
    how="any")

# NOTE: If you add "Other Interactions", dataset is reduced to 170 rows
# Number of unique values for "Other Notes or Observations"
print(f'Unique "other interactions": {s2018_nonull["Other Interactions"].nunique()}') # 152 unique interactions

# Display DataFrame and its shape
print(f"{s2018_nonull.shape}")
s2018_nonull.head()

Unique "other interactions": 152
(1937, 31)

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)
5,-73.968361,40.772591,11H-AM-1010-03,11H,AM,10102018,3,Adult,Cinnamon,White,...,False,False,False,False,True,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499)
9,-73.972250,40.774288,11D-AM-1010-03,11D,AM,10102018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026)
10,-73.969506,40.782351,20B-PM-1013-05,20B,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183)
12,-73.953217,40.791967,36I-PM-1007-01,36I,PM,10072018,1,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962)

In [32]:
# Rename the columns
cols_df = pd.DataFrame(s2018_nonull.columns, columns=["name"])

# Define the regex pattern
pattern = '\((.*?)\)' # \( and \) to escape brackets, *.? matches any character (non-newline) zero or more times

new_columns = []
for row in cols_df["name"]:
    # Use underscore and cast to lowercase
    new_columns.append(row.replace(" ", "_").lower())

# Update the columns
s2018_nonull.columns = new_columns

s2018_nonull.head()

,x,y,unique_squirrel_id,hectare,shift,date,hectare_squirrel_number,age,primary_fur_color,highlight_fur_color,...,kuks,quaas,moans,tail_flags,tail_twitches,approaches,indifferent,runs_from,other_interactions,lat/long
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)
5,-73.968361,40.772591,11H-AM-1010-03,11H,AM,10102018,3,Adult,Cinnamon,White,...,False,False,False,False,True,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499)
9,-73.972250,40.774288,11D-AM-1010-03,11D,AM,10102018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026)
10,-73.969506,40.782351,20B-PM-1013-05,20B,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183)
12,-73.953217,40.791967,36I-PM-1007-01,36I,PM,10072018,1,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962)

In [33]:
s2018_nonull.columns

Index(['x', 'y', 'unique_squirrel_id', 'hectare', 'shift', 'date',
       'hectare_squirrel_number', 'age', 'primary_fur_color',
       'highlight_fur_color', 'combination_of_primary_and_highlight_color',
       'color_notes', 'location', 'above_ground_sighter_measurement',
       'specific_location', 'running', 'chasing', 'climbing', 'eating',
       'foraging', 'other_activities', 'kuks', 'quaas', 'moans', 'tail_flags',
       'tail_twitches', 'approaches', 'indifferent', 'runs_from',
       'other_interactions', 'lat/long'],
      dtype='object')

In [34]:
## Delete unwanted columns but maintain original copy
# s2018_drop_columns = s2018_nonull.drop(columns=['hectare', 'shift', 'hectare_squirrel_number', 'age', 'other_interactions'], inplace=False)
s2018_drop_columns = s2018_nonull.drop(columns=[
    'hectare',
    'shift',
    'hectare_squirrel_number',
    'combination_of_primary_and_highlight_color',
    'color_notes',
    'location',
    'above_ground_sighter_measurement',
    'specific_location',
    'tail_flags',
    'tail_twitches'
]).reset_index(drop=True)

# Rename columns to match 2020 dataset
s2018_rename_columns = s2018_drop_columns.rename(columns={
    "x": "squirrel_longitude",
    "y": "squirrel_latitude",
    "highlight_fur_colour": "highlights_in_fur_color",
    "unique_squirrel_id": "squirrel_id"
})

s2018_rename_columns.head()

,squirrel_longitude,squirrel_latitude,squirrel_id,date,age,primary_fur_color,highlight_fur_color,running,chasing,climbing,...,foraging,other_activities,kuks,quaas,moans,approaches,indifferent,runs_from,other_interactions,lat/long
0,-73.970268,40.776213,13E-AM-1017-05,10172018,Adult,Gray,Cinnamon,False,False,False,...,True,NaN,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)
1,-73.968361,40.772591,11H-AM-1010-03,10102018,Adult,Cinnamon,White,False,False,False,...,True,NaN,False,False,False,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499)
2,-73.972250,40.774288,11D-AM-1010-03,10102018,Adult,Gray,Cinnamon,False,False,True,...,False,grooming,False,False,False,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026)
3,-73.969506,40.782351,20B-PM-1013-05,10132018,Adult,Gray,White,False,False,False,...,True,NaN,False,False,False,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183)
4,-73.953217,40.791967,36I-PM-1007-01,10072018,Adult,Gray,Cinnamon,False,False,False,...,True,NaN,False,False,False,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962)

## Combine 'kuks', 'quaas', 'moans' to 'shouting'

In [35]:
# Isolate the "shouting" equivalent columns - kuks, quaas, moans
shouting_df = s2018_rename_columns[['squirrel_id', 'kuks', 'quaas', 'moans']].copy()

shouting_df['shouting'] = pd.Series(dtype=bool)
shouting_df

         squirrel_id   kuks  quaas  moans shouting
0     13E-AM-1017-05  False  False  False      NaN
1     11H-AM-1010-03  False  False  False      NaN
2     11D-AM-1010-03  False  False  False      NaN
3     20B-PM-1013-05  False  False  False      NaN
4     36I-PM-1007-01  False  False  False      NaN
...              ...    ...    ...    ...      ...
1932  21F-PM-1018-02  False  False  False      NaN
1933  19A-PM-1013-05  False  False  False      NaN
1934  22D-PM-1012-07  False  False  False      NaN
1935  29B-PM-1010-02  False  False  False      NaN
1936   5E-PM-1012-01  False  False  False      NaN

[1937 rows x 5 columns]

In [36]:
# If any of the shouting_cols are True, set 'shouting' to True
shouting_cols = shouting_df.columns[1:4]

for idx, row in shouting_df.iterrows():
    for col in shouting_cols:
        if row[col] == True:
            shouting_df.loc[idx, 'shouting'] = True
            break
        else:
            shouting_df.loc[idx, 'shouting'] = False

shouting_df['shouting'].value_counts()

False    1859
True       78
Name: shouting, dtype: int64

In [37]:
# Drop the shouting_cols
shouting_df = shouting_df.drop(columns=shouting_cols)
shouting_df.head()

      squirrel_id shouting
0  13E-AM-1017-05    False
1  11H-AM-1010-03    False
2  11D-AM-1010-03    False
3  20B-PM-1013-05    False
4  36I-PM-1007-01    False

In [38]:
# Merge with s2018_rename_columns
s2018_booleans = pd.merge(s2018_rename_columns, shouting_df, on="squirrel_id", how="inner")
s2018_booleans.head()

,squirrel_longitude,squirrel_latitude,squirrel_id,date,age,primary_fur_color,highlight_fur_color,running,chasing,climbing,...,other_activities,kuks,quaas,moans,approaches,indifferent,runs_from,other_interactions,lat/long,shouting
0,-73.970268,40.776213,13E-AM-1017-05,10172018,Adult,Gray,Cinnamon,False,False,False,...,NaN,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894),False
1,-73.968361,40.772591,11H-AM-1010-03,10102018,Adult,Cinnamon,White,False,False,False,...,NaN,False,False,False,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499),False
2,-73.972250,40.774288,11D-AM-1010-03,10102018,Adult,Gray,Cinnamon,False,False,True,...,grooming,False,False,False,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026),False
3,-73.969506,40.782351,20B-PM-1013-05,10132018,Adult,Gray,White,False,False,False,...,NaN,False,False,False,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183),False
4,-73.953217,40.791967,36I-PM-1007-01,10072018,Adult,Gray,Cinnamon,False,False,False,...,NaN,False,False,False,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962),False

In [39]:
# Drop the shouting_cols from s2018_booleans
s2018_booleans = s2018_booleans.drop(columns=shouting_cols)
s2018_booleans.head()

,squirrel_longitude,squirrel_latitude,squirrel_id,date,age,primary_fur_color,highlight_fur_color,running,chasing,climbing,eating,foraging,other_activities,approaches,indifferent,runs_from,other_interactions,lat/long,shouting
0,-73.970268,40.776213,13E-AM-1017-05,10172018,Adult,Gray,Cinnamon,False,False,False,False,True,NaN,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894),False
1,-73.968361,40.772591,11H-AM-1010-03,10102018,Adult,Cinnamon,White,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499),False
2,-73.972250,40.774288,11D-AM-1010-03,10102018,Adult,Gray,Cinnamon,False,False,True,False,False,grooming,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026),False
3,-73.969506,40.782351,20B-PM-1013-05,10132018,Adult,Gray,White,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183),False
4,-73.953217,40.791967,36I-PM-1007-01,10072018,Adult,Gray,Cinnamon,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962),False

## Change Data Types

In [40]:
from datetime import datetime
s2018_booleans['date'] = s2018_booleans['date'].apply(lambda x: datetime.strptime(str(x), '%m%d%Y').strftime('%Y-%m-%d'))

In [41]:
s2018_booleans.head()

,squirrel_longitude,squirrel_latitude,squirrel_id,date,age,primary_fur_color,highlight_fur_color,running,chasing,climbing,eating,foraging,other_activities,approaches,indifferent,runs_from,other_interactions,lat/long,shouting
0,-73.970268,40.776213,13E-AM-1017-05,2018-10-17,Adult,Gray,Cinnamon,False,False,False,False,True,NaN,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894),False
1,-73.968361,40.772591,11H-AM-1010-03,2018-10-10,Adult,Cinnamon,White,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499),False
2,-73.972250,40.774288,11D-AM-1010-03,2018-10-10,Adult,Gray,Cinnamon,False,False,True,False,False,grooming,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026),False
3,-73.969506,40.782351,20B-PM-1013-05,2018-10-13,Adult,Gray,White,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183),False
4,-73.953217,40.791967,36I-PM-1007-01,2018-10-07,Adult,Gray,Cinnamon,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962),False

In [42]:
s2018_booleans.info()
# The 'date' column is still needs to be converted to the correct datatime type.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1945 entries, 0 to 1944
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   squirrel_longitude   1945 non-null   float64
 1   squirrel_latitude    1945 non-null   float64
 2   squirrel_id          1945 non-null   object
 3   date                 1945 non-null   object
 4   age                  1882 non-null   object
 5   primary_fur_color    1945 non-null   object
 6   highlight_fur_color  1945 non-null   object
 7   running              1945 non-null   bool
 8   chasing              1945 non-null   bool
 9   climbing             1945 non-null   bool
 10  eating               1945 non-null   bool
 11  foraging             1945 non-null   bool
 12  other_activities     285 non-null    object
 13  approaches           1945 non-null   bool
 14  indifferent          1945 non-null   bool
 15  runs_from            1945 non-null   bool
 16  other_interactions   172 non-null    object
 17  lat/long             1945 non-null   object
 18  shouting             1945 non-null   object
dtypes: bool(8), float64(2), object(9)
memory usage: 197.5+ KB

## Investigate 'other_activities' column

In [43]:
# Check the "other activities" column
other_activities = pd.DataFrame(s2018_booleans['other_activities'].value_counts())
other_activities

                                    other_activities
digging                                           14
sitting                                            9
playing                                            8
burying                                            6
nut in mouth                                       4
...                                              ...
jumping tree to tree                               1
carrying nut away                                  1
chasing #2 and climbing tree w/ #2                 1
standing upright                                   1
eating (on branch)                                 1

[219 rows x 1 columns]

In [44]:
# Isolate the "other activities" column
other_df = s2018_booleans[['squirrel_id', 'other_activities']].copy()

# Only include rows with a non-null value - REGEX DOESN'T WORK IF array has NaN values!
other_df = other_df.dropna(how="any")

# Equivalent columns from 2020 currently missing from 2018
missing_cols = ['sitting', 'digging']

# Create new columns for each activity
for col_name in missing_cols:
    other_df[col_name] = pd.Series(dtype=bool)

In [45]:
# CONVERT THIS TO A DICTIONARY LATER, for simplicity!
# Combine activities
patterns = [
    'sit', 'watch', 'staring', 'posing', 'hanging out', 'chillin', 'dig', 'bury', 'chas', 'climb', 'eat', 'hop', 'foraging', 'running']
activity_col = [
    'sitting', 'watching', 'sitting', 'sitting', 'sitting', 'sitting', 'digging', 'digging', 'chasing', 'climbing', 'eating', 'running', 'foraging', 'running']

all_indices = []
for idx_pattern, pattern in enumerate(patterns):
    idx_sit = list(other_df[other_df['other_activities'].str.contains(pattern)].index)
    all_indices.append(idx_sit)
    
    for idx in idx_sit:
        other_df.loc[idx, activity_col[idx_pattern]] = True
# idx_sit = list(other_df[other_df['other_activities'].str.contains(pattern_sitting)].index)

# for idx in idx_sit:
#     other_df.loc[idx, 'sitting'] = True

other_df[other_df['sitting'] == True]
# for idx, row in other_df.iterrows():
#     print(row['other_activities'])

,squirrel_id,other_activities,sitting,digging,watching,chasing,climbing,eating,running,foraging
11,12I-AM-1013-01,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,16G-AM-1010-03,was hanging out w/ #2 until i showed up,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,19B-AM-1019-02,posing,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,4G-AM-1006-02,sitting in tree,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,4E-AM-1020-01,sitting very still,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,22C-AM-1013-01,"sitting still,tail over back",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,4D-PM-1008-08,climbed fence staring at me - went up tree,True,NaN,NaN,NaN,True,NaN,NaN,NaN
257,22G-PM-1018-03,chilling,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,14H-AM-1007-02,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,34E-PM-1006-01,sitting and watching on a tree,True,NaN,True,NaN,NaN,NaN,NaN,NaN
486,12E-AM-1017-08,chilling,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705,35H-AM-1013-02,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712,21H-PM-1018-01,staring,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,14F-PM-1012-05,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,16E-PM-1018-05,staring,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,6G-AM-1008-01,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844,30I-PM-1006-01,sitting there,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,7F-AM-1008-14,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,35E-AM-1020-04,"hunkered down,tail over body; sitting perfectl...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
922,35C-AM-1007-01,sitting still,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,25A-AM-1013-01,staring at me,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,36A-PM-1013-04,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,38E-AM-1010-10,chillin',True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1254,33A-PM-1018-02,"hanging out,watching world",True,NaN,True,NaN,NaN,NaN,NaN,NaN
1340,2I-PM-1006-01,staring at me,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,35B-PM-1013-01,did not notice dog sitting a few yards away (1...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1577,17F-AM-1007-04,chilling,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1601,10C-AM-1018-02,sitting in the sun,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,10F-PM-1019-01,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,33E-AM-1014-13,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1638,4E-AM-1020-04,chillin',True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1689,14E-PM-1017-02,staring,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,18I-PM-1007-04,walking sitting up,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
flat_indices = [value for row in all_indices for value in row]
len(flat_indices)

172

In [47]:
len(set(flat_indices))

163

In [48]:
reduced_other = other_df.drop(index=list(set(flat_indices)))
print(len(reduced_other))
reduced_other.tail(60) # Leave these out for now?
# Just get a clean dataset and add these in later if required?

122

,squirrel_id,other_activities,sitting,digging,watching,chasing,climbing,eating,running,foraging
953,37C-AM-1012-02,caching,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,39I-PM-1013-04,playing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,33E-PM-1012-04,playing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,1D-AM-1006-06,tumbling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,18I-PM-1007-01,hanging upside down,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,7H-AM-1006-01,nut in mouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107,32F-AM-1012-02,curious about me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1115,38E-PM-1014-05,statue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1135,3D-PM-1010-14,crying out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151,7I-PM-1013-07,"playing,interacting with #6",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1159,33E-PM-1012-06,playing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1191,6C-AM-1007-07,ambling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,5F-PM-1007-06,jumping on fence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1241,30B-PM-1019-05,hiding a nut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,29B-PM-1010-01,scratching self,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1297,21F-AM-1018-03,dead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1303,34I-AM-1012-02,hiding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,11B-PM-1014-06,cleaning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1317,3G-PM-1013-02,"wandering,interacting with tourists",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1327,36F-AM-1017-05,staying very still to avoid two very curious d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1329,38I-PM-1014-02,scampering w/ squirrel #1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1358,38A-AM-1019-03,stood on back legs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,19G-PM-1017-02,patting ground,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,33D-PM-1006-01,hanging on fence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1374,9B-AM-1010-06,cleaning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,38F-AM-1018-05,ran up tree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1393,37G-PM-1007-05,jumping around!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1422,18I-PM-1007-02,hanging upside down,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,18H-AM-1018-01,playing?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,42A-PM-1014-01,up on hind legs looking around,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1485,9B-AM-1010-09,food in mouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,11D-AM-1010-02,walking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,42C-AM-1007-01,nut in mouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1511,2C-PM-1013-06,cleaning face & tail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,8F-PM-1012-07,gathering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,37C-AM-1012-01,caching,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525,32H-AM-1010-01,not sure; walking-stop-walking-stop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1546,3B-AM-1010-02,together w/ #3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,42F-PM-1017-01,playing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1579,34I-AM-1012-03,nut in mouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1580,15B-AM-1014-02,"grooming,scratching",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1587,1A-AM-1007-03,looking in bush,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611,5C-AM-1006-04,relaxing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1616,15G-PM-1019-06,scratching!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,12F-AM-1020-01,jumping,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,15F-AM-1007-06,pair with #5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1715,3H-AM-1008-01,teasing barking dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1720,38A-AM-1019-05,standing on back legs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1729,15D-PM-1017-06,walking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740,34A-PM-1013-01,took a chestnut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1774,7G-PM-1018-06,grooming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1819,32I-PM-1007-01,chirps,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1851,33H-AM-1019-01,wrestling with child,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1852,12F-AM-1020-03,playing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1856,39E-AM-1018-01,standing still,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1874,1G-AM-1006-04,collecting nest material,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1882,3E-AM-1006-03,checkin' his stashes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,12H-PM-1007-03,peanuts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,11D-AM-1010-08,drinking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1915,35E-AM-1020-02,cleaning herself,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# Merge other_df back to 2018 dataset
print(len(other_df))
other_df.head()

285

,squirrel_id,other_activities,sitting,digging,watching,chasing,climbing,eating,running,foraging
2,11D-AM-1010-03,grooming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12I-AM-1013-01,sitting,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,33H-AM-1019-02,wrestling with mother,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2B-PM-1013-01,running (with nut),NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
29,6I-PM-1013-06,playing with #5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
print(len(s2018_booleans))
s2018_booleans.head()

1945

,squirrel_longitude,squirrel_latitude,squirrel_id,date,age,primary_fur_color,highlight_fur_color,running,chasing,climbing,eating,foraging,other_activities,approaches,indifferent,runs_from,other_interactions,lat/long,shouting
0,-73.970268,40.776213,13E-AM-1017-05,2018-10-17,Adult,Gray,Cinnamon,False,False,False,False,True,NaN,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894),False
1,-73.968361,40.772591,11H-AM-1010-03,2018-10-10,Adult,Cinnamon,White,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499),False
2,-73.972250,40.774288,11D-AM-1010-03,2018-10-10,Adult,Gray,Cinnamon,False,False,True,False,False,grooming,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026),False
3,-73.969506,40.782351,20B-PM-1013-05,2018-10-13,Adult,Gray,White,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183),False
4,-73.953217,40.791967,36I-PM-1007-01,2018-10-07,Adult,Gray,Cinnamon,False,False,False,False,True,NaN,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962),False

In [51]:
# Loop through the s2018 booleans, if there's a match in the other_df, then compare cols
count = 0

# Create a variable to hold the different column names
s2018_columns = s2018_booleans.columns[7:12] # ['running', 'chasing', 'climbing', 'eating', 'foraging']
other_columns = other_df.columns[2:] # ['sitting', 'digging', 'chasing', 'jumping', 'climbing', 'eating', 'running', 'foraging']

# Append missing columns to s2018_booleans
missing_cols = list(set(other_columns).difference(s2018_columns)) # ['sitting', 'jumping', 'digging']
for col in missing_cols:
    s2018_booleans[col] = pd.Series(dtype=bool)

# Loop through both dataframes
for idx, row in s2018_booleans.iterrows():
    for idx_other, row_other in other_df.iterrows():
        
        # If the squirrel_id exists in both dataframes, check the columns
        if (row['squirrel_id'] == row_other['squirrel_id']):
            
            
            for s2018_col in s2018_columns:
                for other_col in other_columns:
                    
                    # Only interested where the s2018_col matches other_col, AND if True
                    if (s2018_col == other_col) and (other_df.loc[idx_other, other_col] == True):

                        # Update existing columns as required
                        s2018_booleans.loc[idx, s2018_col] = True

                    # Columns that are not yet in the s2018_booleans dataframe
                    if (other_col in missing_cols) and (other_df.loc[idx_other, other_col] == True):
                        s2018_booleans.loc[idx, other_col] = True
                    else:
                        s2018_booleans.loc[idx, other_col] = False
            count += 1
print(count)

285

In [52]:
s2018_booleans['sitting'].value_counts()

False    252
True      33
Name: sitting, dtype: int64

In [53]:
s2018_booleans['other_interactions'].value_counts()

me                            6
curious                       4
avoided people                3
runs from (me)                3
indifferent then runs from    2
                             ..
climbs                        1
runs from (goes up a tree)    1
skittish                      1
alert & aware                 1
eyes from a safe distance     1
Name: other_interactions, Length: 152, dtype: int64

In [54]:
s2018_booleans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1945 entries, 0 to 1944
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   squirrel_longitude   1945 non-null   float64
 1   squirrel_latitude    1945 non-null   float64
 2   squirrel_id          1945 non-null   object
 3   date                 1945 non-null   object
 4   age                  1882 non-null   object
 5   primary_fur_color    1945 non-null   object
 6   highlight_fur_color  1945 non-null   object
 7   running              1945 non-null   bool
 8   chasing              1945 non-null   bool
 9   climbing             1945 non-null   bool
 10  eating               1945 non-null   bool
 11  foraging             1945 non-null   bool
 12  other_activities     285 non-null    object
 13  approaches           1945 non-null   bool
 14  indifferent          1945 non-null   bool
 15  runs_from            1945 non-null   bool
 16  other_interactions   172 non-null    object
 17  lat/long             1945 non-null   object
 18  shouting             1945 non-null   object
 19  sitting              285 non-null    object
 20  digging              285 non-null    object
 21  watching             285 non-null    object
dtypes: bool(8), float64(2), object(12)
memory usage: 307.7+ KB

In [55]:
# Convert to boolean datatype
bool_columns = ['shouting', 'sitting', 'digging', 'watching']
s2018_booleans[bool_columns] = s2018_booleans[bool_columns].astype(bool)

s2018_booleans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1945 entries, 0 to 1944
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   squirrel_longitude   1945 non-null   float64
 1   squirrel_latitude    1945 non-null   float64
 2   squirrel_id          1945 non-null   object
 3   date                 1945 non-null   object
 4   age                  1882 non-null   object
 5   primary_fur_color    1945 non-null   object
 6   highlight_fur_color  1945 non-null   object
 7   running              1945 non-null   bool
 8   chasing              1945 non-null   bool
 9   climbing             1945 non-null   bool
 10  eating               1945 non-null   bool
 11  foraging             1945 non-null   bool
 12  other_activities     285 non-null    object
 13  approaches           1945 non-null   bool
 14  indifferent          1945 non-null   bool
 15  runs_from            1945 non-null   bool
 16  other_interactions   172 non-null    object
 17  lat/long             1945 non-null   object
 18  shouting             1945 non-null   bool
 19  sitting              1945 non-null   bool
 20  digging              1945 non-null   bool
 21  watching             1945 non-null   bool
dtypes: bool(12), float64(2), object(8)
memory usage: 254.5+ KB

# Merge both datasets

In [56]:
print(s2020_booleans.columns)
s2020_booleans.head()

Index(['park_name', 'park_id', 'squirrel_id', 'primary_fur_color',
       'highlights_in_fur_color', 'other_notes_or_observations',
       'squirrel_latitude', 'squirrel_longitude', 'shouting', 'chasing',
       'eating', 'climbing', 'sitting', 'other_activities', 'running',
       'digging', 'foraging', 'runs from', 'indifferent', 'approaches',
       'watching'],
      dtype='object')

,park_name,park_id,squirrel_id,primary_fur_color,highlights_in_fur_color,other_notes_or_observations,squirrel_latitude,squirrel_longitude,shouting,chasing,...,climbing,sitting,other_activities,running,digging,foraging,runs from,indifferent,approaches,watching
0,Fort Tryon Park,1,A-01-01,Gray,White,NaN,40.859410,-73.933936,False,False,...,False,False,False,False,False,True,False,True,False,False
1,Fort Tryon Park,1,A-01-02,Gray,White,Looks skinny,40.859436,-73.933937,False,False,...,False,False,False,False,False,True,False,True,False,False
2,Fort Tryon Park,1,A-01-03,Gray,White,NaN,40.859416,-73.933894,False,False,...,False,False,False,False,True,False,False,True,False,False
3,Fort Tryon Park,1,A-01-04,Gray,White,NaN,40.859418,-73.933895,False,False,...,False,False,False,True,False,False,False,True,False,False
4,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,She left food,40.859493,-73.933590,False,False,...,False,False,False,True,False,False,False,True,False,False

In [57]:
print(s2018_booleans.columns)
s2018_booleans.head()

Index(['squirrel_longitude', 'squirrel_latitude', 'squirrel_id', 'date', 'age',
       'primary_fur_color', 'highlight_fur_color', 'running', 'chasing',
       'climbing', 'eating', 'foraging', 'other_activities', 'approaches',
       'indifferent', 'runs_from', 'other_interactions', 'lat/long',
       'shouting', 'sitting', 'digging', 'watching'],
      dtype='object')

,squirrel_longitude,squirrel_latitude,squirrel_id,date,age,primary_fur_color,highlight_fur_color,running,chasing,climbing,...,other_activities,approaches,indifferent,runs_from,other_interactions,lat/long,shouting,sitting,digging,watching
0,-73.970268,40.776213,13E-AM-1017-05,2018-10-17,Adult,Gray,Cinnamon,False,False,False,...,NaN,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894),False,True,True,True
1,-73.968361,40.772591,11H-AM-1010-03,2018-10-10,Adult,Cinnamon,White,False,False,False,...,NaN,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499),False,True,True,True
2,-73.972250,40.774288,11D-AM-1010-03,2018-10-10,Adult,Gray,Cinnamon,False,False,False,...,grooming,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026),False,False,False,False
3,-73.969506,40.782351,20B-PM-1013-05,2018-10-13,Adult,Gray,White,False,False,False,...,NaN,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183),False,True,True,True
4,-73.953217,40.791967,36I-PM-1007-01,2018-10-07,Adult,Gray,Cinnamon,False,False,False,...,NaN,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962),False,True,True,True

In [58]:
# Confirm there is no overlap between the squirrel_id
ids_2020 = set(s2020_booleans['squirrel_id'].unique())
ids_2018 = set(s2018_booleans['squirrel_id'].unique())

ids_2020.intersection(ids_2018) # Since empty set, can combine the two datasets

set()

In [59]:
# Drop unused columns
s2020_clean = s2020_booleans.drop(columns=[
    'park_name', # for now, add back in later
    'park_id', # for now, add back in later
    'other_notes_or_observations',
    'other_activities'])

s2018_clean = s2018_booleans.drop(columns=[
    'date',
    'age', # for now, add back in later, once added equivalent 2020 column of NaN?
    'other_activities',
    'other_interactions',
    'lat/long'])

In [60]:
print(len(s2020_clean.columns))
s2020_clean.columns

17

Index(['squirrel_id', 'primary_fur_color', 'highlights_in_fur_color',
       'squirrel_latitude', 'squirrel_longitude', 'shouting', 'chasing',
       'eating', 'climbing', 'sitting', 'running', 'digging', 'foraging',
       'runs from', 'indifferent', 'approaches', 'watching'],
      dtype='object')

In [61]:
print(len(s2018_clean.columns))
s2018_clean.columns

17

Index(['squirrel_longitude', 'squirrel_latitude', 'squirrel_id',
       'primary_fur_color', 'highlight_fur_color', 'running', 'chasing',
       'climbing', 'eating', 'foraging', 'approaches', 'indifferent',
       'runs_from', 'shouting', 'sitting', 'digging', 'watching'],
      dtype='object')

In [62]:
set(s2020_clean).difference(set(s2018_clean))

{'highlights_in_fur_color', 'runs from'}

In [63]:
# Rename columns
s2020_clean = s2020_clean.rename(columns={
    'primary_fur_color': 'primary_colour',
    'highlights_in_fur_color': 'fur_highlights',
    'squirrel_longitude': 'longitude',
    'squirrel_latitude': 'latitude',
    'runs from': 'runs_from'
})

s2018_clean = s2018_clean.rename(columns={
    'squirrel_longitude': 'longitude',
    'squirrel_latitude': 'latitude',
    'primary_fur_color': 'primary_colour',
    'highlight_fur_color': 'fur_highlights'
})

In [64]:
# Rearrange columns
rearranged = [
    'squirrel_id', 'longitude', 'latitude', 'primary_colour', 'fur_highlights',
    'chasing', 'climbing', 'digging', 'eating', 'foraging', 'running', 'shouting', 'sitting',
    'approaches', 'indifferent', 'runs_from', 'watching']

s2020_clean = s2020_clean[rearranged]
s2018_clean = s2018_clean[rearranged]

In [65]:
s2020_clean.head()

,squirrel_id,longitude,latitude,primary_colour,fur_highlights,chasing,climbing,digging,eating,foraging,running,shouting,sitting,approaches,indifferent,runs_from,watching
0,A-01-01,-73.933936,40.859410,Gray,White,False,False,False,False,True,False,False,False,False,True,False,False
1,A-01-02,-73.933937,40.859436,Gray,White,False,False,False,False,True,False,False,False,False,True,False,False
2,A-01-03,-73.933894,40.859416,Gray,White,False,False,True,True,False,False,False,False,False,True,False,False
3,A-01-04,-73.933895,40.859418,Gray,White,False,False,False,False,False,True,False,False,False,True,False,False
4,A-01-05,-73.933590,40.859493,Gray,Cinnamon,False,False,False,True,False,True,False,False,False,True,False,False

In [66]:
s2018_clean.head()

,squirrel_id,longitude,latitude,primary_colour,fur_highlights,chasing,climbing,digging,eating,foraging,running,shouting,sitting,approaches,indifferent,runs_from,watching
0,13E-AM-1017-05,-73.970268,40.776213,Gray,Cinnamon,False,False,True,False,True,False,False,True,False,False,False,True
1,11H-AM-1010-03,-73.968361,40.772591,Cinnamon,White,False,False,True,False,True,False,False,True,False,True,False,True
2,11D-AM-1010-03,-73.972250,40.774288,Gray,Cinnamon,False,False,False,False,False,False,False,False,False,True,False,False
3,20B-PM-1013-05,-73.969506,40.782351,Gray,White,False,False,True,False,True,False,False,True,False,True,False,True
4,36I-PM-1007-01,-73.953217,40.791967,Gray,Cinnamon,False,False,True,False,True,False,False,True,False,True,False,True

In [67]:
# Append the datasets
combined_df = pd.concat([s2020_clean, s2018_clean], ignore_index=True)
combined_df.head()

,squirrel_id,longitude,latitude,primary_colour,fur_highlights,chasing,climbing,digging,eating,foraging,running,shouting,sitting,approaches,indifferent,runs_from,watching
0,A-01-01,-73.933936,40.859410,Gray,White,False,False,False,False,True,False,False,False,False,True,False,False
1,A-01-02,-73.933937,40.859436,Gray,White,False,False,False,False,True,False,False,False,False,True,False,False
2,A-01-03,-73.933894,40.859416,Gray,White,False,False,True,True,False,False,False,False,False,True,False,False
3,A-01-04,-73.933895,40.859418,Gray,White,False,False,False,False,False,True,False,False,False,True,False,False
4,A-01-05,-73.933590,40.859493,Gray,Cinnamon,False,False,False,True,False,True,False,False,False,True,False,False

In [68]:
combined_df.info() # need to convert some columns to bool, and check the values for digging and sitting

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2137 entries, 0 to 2136
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   squirrel_id     2137 non-null   object
 1   longitude       2137 non-null   float64
 2   latitude        2137 non-null   float64
 3   primary_colour  2137 non-null   object
 4   fur_highlights  2137 non-null   object
 5   chasing         2137 non-null   bool
 6   climbing        2137 non-null   bool
 7   digging         2137 non-null   bool
 8   eating          2137 non-null   bool
 9   foraging        2137 non-null   bool
 10  running         2137 non-null   bool
 11  shouting        2137 non-null   bool
 12  sitting         2137 non-null   bool
 13  approaches      2137 non-null   bool
 14  indifferent     2137 non-null   bool
 15  runs_from       2137 non-null   bool
 16  watching        2137 non-null   bool
dtypes: bool(12), float64(2), object(3)
memory usage: 108.6+ KB

In [69]:
# Convert the dtypes result to a DataFrame
dtype_df = pd.DataFrame(combined_df.dtypes, columns=['type'])

# Get columns either: object/VARCHAR or float64/FLOAT(p)
length_cols = dtype_df.loc[(dtype_df['type'] == "float64") | (dtype_df['type'] == "object")].index

for col_name in length_cols:
    # Variables to save the longest character and the word
    max_char = 0
    max_word = ""

    # Loop through each column
    for word in combined_df[col_name]:
        if len(str(word)) > max_char:
            max_char = len(str(word))
            max_word = str(word)

    # Print the longest values
    print(f'{col_name}: {max_char}, {max_word}')

squirrel_id: 14, 13E-AM-1017-05
longitude: 17, -73.9702676472613
latitude: 16, 40.7762126854894
primary_colour: 8, Cinnamon
fur_highlights: 22, Black, Cinnamon, White

In [70]:
# Fur highlights needs to be parsed
combined_df['fur_highlights'].value_counts()

Cinnamon                  838
White                     639
Cinnamon, White           282
Gray                      227
Gray, White                59
Black                      38
Black, Cinnamon, White     32
Black, White               10
Black, Cinnamon             9
Gray, Black                 3
Name: fur_highlights, dtype: int64

In [71]:
unique_highlights = combined_df['fur_highlights'].unique()

highlight = []
for row in unique_highlights:
    row_string = row.split(", ")
    for value in row_string:
        highlight.append(value.lower())

highlight = list(set(highlight))
highlight

['white', 'cinnamon', 'gray', 'black']

In [72]:
# Create columns in combined_df for each highlight
for col in highlight:
    combined_df[col] = pd.Series(dtype=bool)

In [73]:
combined_df.head()

,squirrel_id,longitude,latitude,primary_colour,fur_highlights,chasing,climbing,digging,eating,foraging,...,shouting,sitting,approaches,indifferent,runs_from,watching,white,cinnamon,gray,black
0,A-01-01,-73.933936,40.859410,Gray,White,False,False,False,False,True,...,False,False,False,True,False,False,NaN,NaN,NaN,NaN
1,A-01-02,-73.933937,40.859436,Gray,White,False,False,False,False,True,...,False,False,False,True,False,False,NaN,NaN,NaN,NaN
2,A-01-03,-73.933894,40.859416,Gray,White,False,False,True,True,False,...,False,False,False,True,False,False,NaN,NaN,NaN,NaN
3,A-01-04,-73.933895,40.859418,Gray,White,False,False,False,False,False,...,False,False,False,True,False,False,NaN,NaN,NaN,NaN
4,A-01-05,-73.933590,40.859493,Gray,Cinnamon,False,False,False,True,False,...,False,False,False,True,False,False,NaN,NaN,NaN,NaN

In [74]:
for idx, row in combined_df.iterrows():
    highlight_row = row['fur_highlights'].split(", ")
    
    if len(highlight_row) > 1:
        for value in highlight_row:
            for col_name in highlight:
                # print(combined_df.loc[idx, col_name])
                if (combined_df.loc[idx, col_name] == True):
                    continue
                if (value.lower() == col_name):
                    combined_df.loc[idx, col_name] = True
                else:
                    combined_df.loc[idx, col_name] = False
    else:
        highlight_value = highlight_row[0].lower()
        for col_name in highlight:
            if (highlight_value == col_name):
                combined_df.loc[idx, col_name] = True
            else:
                combined_df.loc[idx, col_name] = False

In [75]:
combined_df[['fur_highlights', 'cinnamon', 'black', 'white', 'gray']]

              fur_highlights cinnamon  black  white   gray
0                      White    False  False   True  False
1                      White    False  False   True  False
2                      White    False  False   True  False
3                      White    False  False   True  False
4                   Cinnamon     True  False  False  False
...                      ...      ...    ...    ...    ...
2132                    Gray    False  False  False   True
2133                   White    False  False   True  False
2134  Black, Cinnamon, White     True   True   True  False
2135         Cinnamon, White     True  False   True  False
2136             Gray, White    False  False   True   True

[2137 rows x 5 columns]

In [76]:
# Drop the fur_highlights column
combined_df = combined_df.drop(columns=['fur_highlights'])
combined_df.head()

,squirrel_id,longitude,latitude,primary_colour,chasing,climbing,digging,eating,foraging,running,shouting,sitting,approaches,indifferent,runs_from,watching,white,cinnamon,gray,black
0,A-01-01,-73.933936,40.859410,Gray,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,False
1,A-01-02,-73.933937,40.859436,Gray,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,False
2,A-01-03,-73.933894,40.859416,Gray,False,False,True,True,False,False,False,False,False,True,False,False,True,False,False,False
3,A-01-04,-73.933895,40.859418,Gray,False,False,False,False,False,True,False,False,False,True,False,False,True,False,False,False
4,A-01-05,-73.933590,40.859493,Gray,False,False,False,True,False,True,False,False,False,True,False,False,False,True,False,False

In [82]:
# Convert the highlight columns to boolean
combined_df[highlight] = combined_df[highlight].astype(bool)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2137 entries, 0 to 2136
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   squirrel_id     2137 non-null   object
 1   longitude       2137 non-null   float64
 2   latitude        2137 non-null   float64
 3   primary_colour  2137 non-null   object
 4   chasing         2137 non-null   bool
 5   climbing        2137 non-null   bool
 6   digging         2137 non-null   bool
 7   eating          2137 non-null   bool
 8   foraging        2137 non-null   bool
 9   running         2137 non-null   bool
 10  shouting        2137 non-null   bool
 11  sitting         2137 non-null   bool
 12  approaches      2137 non-null   bool
 13  indifferent     2137 non-null   bool
 14  runs_from       2137 non-null   bool
 15  watching        2137 non-null   bool
 16  white           2137 non-null   bool
 17  cinnamon        2137 non-null   bool
 18  gray            2137 non-null   bool
 19  black           2137 non-null   bool
dtypes: bool(16), float64(2), object(2)
memory usage: 100.3+ KB

In [83]:
# Check the primary_colour column
combined_df['primary_colour'].value_counts()

Gray        1760
Cinnamon     342
Black         35
Name: primary_colour, dtype: int64

In [84]:
# Convert the dtypes result to a DataFrame
dtype_df = pd.DataFrame(combined_df.dtypes, columns=['type'])

# Get columns either: object/VARCHAR or float64/FLOAT(p)
length_cols = dtype_df.loc[(dtype_df['type'] == "float64") | (dtype_df['type'] == "object")].index

for col_name in length_cols:
    # Variables to save the longest character and the word
    max_char = 0
    max_word = ""

    # Loop through each column
    for word in combined_df[col_name]:
        if len(str(word)) > max_char:
            max_char = len(str(word))
            max_word = str(word)

    # Print the longest values
    print(f'{col_name}: {max_char}, {max_word}')

squirrel_id: 14, 13E-AM-1017-05
longitude: 17, -73.9702676472613
latitude: 16, 40.7762126854894
primary_colour: 8, Cinnamon

In [88]:
combined_df[['latitude', 'longitude']].value_counts()

latitude   longitude
40.846088  -73.940613    3
40.846332  -73.940369    3
40.817544  -73.949016    2
40.771959  -73.974852    2
40.772066  -73.974945    2
                        ..
40.772687  -73.968196    1
40.772669  -73.970800    1
40.772659  -73.973787    1
40.772642  -73.973733    1
40.860825  -73.932871    1
Length: 2119, dtype: int64

## Create separate CSVs

In [92]:
location_df = combined_df[[
    'squirrel_id', 'latitude', 'longitude'
]]
location_df.to_csv("resources/clean/location.csv", index=False, header=True)

In [93]:
appearance_df = combined_df[[
    'squirrel_id', 'primary_colour',
    'black', 'cinnamon', 'gray', 'white'
]]
appearance_df.to_csv("resources/clean/appearance.csv", index=False, header=True)

In [94]:
activities_df = combined_df[[
    'squirrel_id', 'chasing', 'climbing', 'digging',
    'eating', 'foraging', 'running', 'shouting', 'sitting'
]]
activities_df.to_csv("resources/clean/activities.csv", index=False, header=True)

In [95]:
interactions_df = combined_df[[
    'squirrel_id', 'approaches', 'indifferent',
    'runs_from', 'watching'
]]
interactions_df.to_csv("resources/clean/interactions.csv", index=False, header=True)

In [96]:
combined_df['squirrel_id'].value_counts()

37E-PM-1006-03    4
40B-AM-1019-06    4
4C-PM-1010-05     4
7D-PM-1010-01     4
35H-AM-1013-01    1
                 ..
8I-PM-1013-09     1
41A-AM-1013-01    1
15F-AM-1007-08    1
36I-PM-1007-06    1
5E-PM-1012-01     1
Name: squirrel_id, Length: 2125, dtype: int64