In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [24]:
squirrel_2020 = Path("Resources/squirrel_data_2020.csv")
squirrel_2018 = Path("Resources/squirrel_data_2018.csv")

# Additional dataset from 2020
parks_2020 = Path("Resources/park_data_2020.csv")

## 2020 Dataset

In [27]:
# Create dataframe from CSV
s2020_df = pd.read_csv(squirrel_2020, encoding="unicode_escape")

# Display shape and head
print(f"2020 Squirrel Dataset: {s2020_df.shape}")
s2020_df.head()

2020 Squirrel Dataset: (433, 16)

,Area Name,Area ID,Park Name,Park ID,Squirrel ID,Primary Fur Color,Highlights in Fur Color,Color Notes,Location,Above Ground (Height in Feet),Specific Location,Activities,Interactions with Humans,Other Notes or Observations,Squirrel Latitude (DD.DDDDDD),Squirrel Longitude (-DD.DDDDDD)
0,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-01,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,NaN,40.859410,-73.933936
1,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-02,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-03,Gray,White,NaN,Ground Plane,NaN,NaN,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-04,Gray,White,NaN,Ground Plane,NaN,NaN,Running,Indifferent,NaN,40.859418,-73.933895
4,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,NaN,Ground Plane,NaN,NaN,"Running, Eating",Indifferent,She left food,40.859493,-73.933590

In [28]:
# Print columns
s2020_df.columns

Index(['Area Name', 'Area ID', 'Park Name', 'Park ID', 'Squirrel ID',
       'Primary Fur Color', 'Highlights in Fur Color', 'Color Notes',
       'Location', 'Above Ground (Height in Feet)', 'Specific Location',
       'Activities', 'Interactions with Humans', 'Other Notes or Observations',
       'Squirrel Latitude (DD.DDDDDD)', 'Squirrel Longitude (-DD.DDDDDD)'],
      dtype='object')

In [29]:
# Create dataframe from CSV
parks_df = pd.read_csv(parks_2020, encoding="unicode_escape")

# Display shape and head
print(f"2020 Park Dataset: {parks_df.shape}")
parks_df.head()

2020 Park Dataset: (25, 15)

,Area Name,Area ID,Park Name,Park ID,Date,Start Time,End Time,"Total Time (in minutes, if available)",Park Conditions,Other Animal Sightings,Litter,Temperature & Weather,Number of Squirrels,Squirrel Sighter(s),Number of Sighters
0,UPPER MANHATTAN,A,Fort Tryon Park,1.0,3/1/20,3:14:00 PM,4:05:00 PM,51,Busy,"Humans, Dogs, Pigeons, Cardinals",Some,"43 degrees, sunny",12,"01, 02, 03, 04",4
1,UPPER MANHATTAN,A,J. Hood Wright Park,2.0,3/1/20,3:30:00 PM,4:00:00 PM,30,Calm,"Humans, Hawks, Dogs, Pigeons, Rat","Some, in trees","cold, clear",24,"05, 06",2
2,UPPER MANHATTAN,A,Highbridge Park,3.0,3/1/20,3:21:00 PM,4:15:00 PM,54,"Calm, pick-up baseball game","Humans, Dogs (3, all on leashes), Downy Woodpe...","Some, especially caught in wooded area in East...",43 degrees,16,"07, 08, 09",3
3,UPPER MANHATTAN,A,St. Nicholas Park,4.0,3/1/20,3:15:00 PM,3:45:00 PM,30,Calm,"Humans, Dogs","Some, backside of park","43 degrees, clear",15,"10, 11, 12",3
4,UPPER MANHATTAN,A,Riverside Park (section near Grant Memorial),5.0,3/1/20,3:15:00 PM,3:45:00 PM,30,Calm,"Humans, Dogs",NaN,NaN,28,"13, 14, 15",3

In [32]:
# Print columns
parks_df.columns

Index(['Area Name', 'Area ID', 'Park Name', 'Park ID', 'Date', 'Start Time',
       'End Time', 'Total Time (in minutes, if available)', 'Park Conditions',
       'Other Animal Sightings', 'Litter', 'Temperature & Weather',
       'Number of Squirrels', 'Squirrel Sighter(s)', 'Number of Sighters'],
      dtype='object')

### Minimum requirements:
- lat and long
- park ID (link to park CSV)
- squirrel ID (unique?)
- primary colour
- DROP NULL for: highlights in fur color

NOTE: Data collected 01 March 2020 (3:00PM to 4:38PM)

In [30]:
# Confirm "Squirrel ID" is unique, for use as a primary key later
s2020_df['Squirrel ID'].nunique()

433

In [55]:
# Drop null values for minimum requirement columns
s2020_nonull = s2020_df.dropna(
    subset=["Highlights in Fur Color", "Activities", "Interactions with Humans", "Squirrel Latitude (DD.DDDDDD)", "Squirrel Longitude (-DD.DDDDDD)"],
    how="any")

print(f'Unique "other interactions": {s2020_nonull["Other Notes or Observations"].nunique()}') # 76 unique interactions

print(f"{s2020_nonull.shape}")
s2020_nonull.head()

Unique "other interactions": 76
(192, 16)

,Area Name,Area ID,Park Name,Park ID,Squirrel ID,Primary Fur Color,Highlights in Fur Color,Color Notes,Location,Above Ground (Height in Feet),Specific Location,Activities,Interactions with Humans,Other Notes or Observations,Squirrel Latitude (DD.DDDDDD),Squirrel Longitude (-DD.DDDDDD)
0,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-01,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,NaN,40.859410,-73.933936
1,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-02,Gray,White,NaN,Ground Plane,NaN,NaN,Foraging,Indifferent,Looks skinny,40.859436,-73.933937
2,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-03,Gray,White,NaN,Ground Plane,NaN,NaN,"Eating, Digging something",Indifferent,NaN,40.859416,-73.933894
3,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-04,Gray,White,NaN,Ground Plane,NaN,NaN,Running,Indifferent,NaN,40.859418,-73.933895
4,UPPER MANHATTAN,A,Fort Tryon Park,1,A-01-05,Gray,Cinnamon,NaN,Ground Plane,NaN,NaN,"Running, Eating",Indifferent,She left food,40.859493,-73.933590

## 2018 Dataset

In [14]:
# Create dataframe from CSV
s2018_df = pd.read_csv(squirrel_2018)

# Display shape and head
print(f"2018 Dataset: {s2018_df.shape}")
s2018_df.head()

2018 Dataset: (3023, 31)

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)

In [17]:
# Print columns
s2018_df.columns

Index(['X', 'Y', 'Unique Squirrel ID', 'Hectare', 'Shift', 'Date',
       'Hectare Squirrel Number', 'Age', 'Primary Fur Color',
       'Highlight Fur Color', 'Combination of Primary and Highlight Color',
       'Color notes', 'Location', 'Above Ground Sighter Measurement',
       'Specific Location', 'Running', 'Chasing', 'Climbing', 'Eating',
       'Foraging', 'Other Activities', 'Kuks', 'Quaas', 'Moans', 'Tail flags',
       'Tail twitches', 'Approaches', 'Indifferent', 'Runs from',
       'Other Interactions', 'Lat/Long'],
      dtype='object')

In [54]:
s2018_nonull = s2018_df.dropna(
    subset=["Primary Fur Color", "Highlight Fur Color", "Running", "Chasing", "Climbing", "Eating", "Foraging", "Approaches", "Indifferent", "Runs from", "X", "Y"],
    how="any") # NOTE: If you add "Other Interactions", dataset is reduced to 170 rows

print(f'Unique "other interactions": {s2018_nonull["Other Interactions"].nunique()}') # 152 unique interactions

print(f"{s2018_nonull.shape}")
s2018_nonull.head()

Unique "other interactions": 152
(1937, 31)

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)
5,-73.968361,40.772591,11H-AM-1010-03,11H,AM,10102018,3,Adult,Cinnamon,White,...,False,False,False,False,True,False,True,False,NaN,POINT (-73.9683613516225 40.7725908847499)
9,-73.972250,40.774288,11D-AM-1010-03,11D,AM,10102018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9722500196844 40.7742879599026)
10,-73.969506,40.782351,20B-PM-1013-05,20B,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9695063535333 40.7823507678183)
12,-73.953217,40.791967,36I-PM-1007-01,36I,PM,10072018,1,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9532170504865 40.7919669739962)

152